[Unit]
Description=Task Tracker

[Service]
Type=simple
User=spa
Group=spa
Restart=on-failure
Environment=MIX_ENV=prod "PORT=6000"
Environment=LANG=en_US.UTF-8

WorkingDirectory=/home/Task-Tracker3/
ExecStart=/home/Task-Tracker3/start.sh

[Install]
WantedBy=multi-user.target